<h1>Ordrar</h1>
<% if @orders.empty? %>
    <p>Du har inga ordrar.</p>
<% end %>

<% if @isadmin %>
    <table>
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Order Date</th>
        </tr>
        <% @all_orders.each do |order| %>
            <tr>
                <td><%= order['id'] %></td>
                <td><%= order['userid'] %></td>
                <td><%= order['order_date'] %></td>
            </tr>
        <% end %>


<%else%>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
        </tr>
        <% @orders.each do |order| %>
            <tr>
                <td><%= order['id'] %></td>
                <td><%= order['order_date'] %></td>
            </tr>
        <% end %>
    </table>
<%end%>